* {
    box-sizing: border-box;
    font-family: arial;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a {
    width: 100%;
    display: flex;
    justify-content: center;
}

.info_produto a {
    justify-content: flex-start;
}

img {
    align-self: center;
}

body {
    margin: 0 auto;
    padding: 0;
    align-items: center;
    /* max-width: 1200px; */
}

.cabecalho {
    width: 100%;
    /* background-color: grey; */
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(206 204 204);
}

.cabecalho div {
    justify-content: space-around;
    /* border: 1px red dashed; */
}

.opcoes {
    flex: 43;
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-right: 5%;
}

.opcoes div {
    display: flex;
    align-items: center;
    width: 100%;
}

.opcoes div div {
    justify-content: center;
    width: 46%;
}

.img_opcoes {
    padding: 12%;
}

.img_opcoes img {
    width: 75%;
}

.txt_opcoes {
    color: black;
    font-size: 1em;
}

.txt_carrinho {
    display: flex;
    flex-direction: column;
}

.logo {
    flex: 22;
    display: flex;
    justify-content: space-around;
}

.logo img {
    width: 36%;
    margin-top: 2%;
}

.busca {
    flex: 35;
    display: flex;
    align-items: center;
}

.busca input {
    width: 100%;
    height: 60%;
    color: red;
    background-color: black;
    border-radius: 14px;
    padding: 0 19px;
    font-size: 1em;
    background-image: url(img/lupa.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 96%;
}

::placeholder {
    color: red;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}

.menu {
    width: 100%;
    /* background-color: cyan; */
    display: flex;
    margin: 10px 0px;
    align-items: center;
}

.menu ul li {
    text-align: center;
}

.lista_menu {
    width: 100%;
    /* background-color: grey; */
    display: flex;
    justify-content: space-evenly;
    flex: 5;
}

.lista_promo {
    flex: 2;
    display: flex;
    justify-content: center;
}

.item_promo {
    background-color: greenyellow;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    font-size: 1em;
}

.item_promo a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    list-style-type: none;
}

.slider {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 500px;
}

/*css for manual slide navegation*/

.navigation-manual {
    position: absolute;
    width: 100%;
    /* margin-top: -40px; */
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 460px;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: red;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    display: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: red;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: red;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: red;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: red;
}

.catalogo {
    /* background-color: aqua; */
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.produto {
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 1100px;
}

.imagem_catalogo {
    /* background-color: gold; */
    flex: 2;
    padding: 1%;
}

.imagem_catalogo img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);
}

.info_catalogo {
    /* background-color: purple; */
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
}

.titulo_catalogo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: lawngreen; */
    font-size: 2em;
}

.descricao_catalogo {
    /* background-color: khaki; */
    font-size: 1.2em;
}

.preco_catalogo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: hotpink; */
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
}

.valor_catalogo {
    font-family: inherit;
    align-self: center;
}

.super_oferta {
    font-family: inherit;
    background-color: greenyellow;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    font-size: 1em;
    width: fit-content;
}

/* produto inicio */



.imagem_produto {
    /* background-color: gold; */
    flex: 1;
    padding: 1%;
}

.imagem_produto img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);
}

.info_produto {
    /* background-color: purple; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
    height: 80vh;
    width: 100%;
}

.titulo_produto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: lawngreen; */
    font-size: 2em;
}

.descricao_produto {
    /* background-color: khaki; */
    color: black;
    display: flex;
    flex-direction: column;
    margin: 0 10% 5% 10%;
    
}

.descricao_produto h3 {
    /* background-color: khaki; */
    color: black;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.preco_produto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: hotpink; */
    display: flex;
    justify-content: space-between;
    /* padding-top: 3%; */
}

.valor_produto {
    font-family: inherit;
    align-self: center;
    font-size: 2em;
    color: greenyellow;
}

.comprar_produto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
    border-radius: 20px;
    /* padding: 10px; */
    width: 50%;
    font-size: 2em;
    width: fit-content;
    
    
}

.super_oferta_produto {
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    font-size: 1em;
    width: fit-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* produto fim */

/* rodape */

.rodape {
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    border-top: red solid 2px;
}

.descricao-footer {
    flex: 1;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
}

.integrantes-footer {
    display: flex;
    flex-direction: row;
    flex: 3;
    flex-wrap: wrap;
    height: 100%;
}

.individuo-footer {
    display: flex;
    height: 25%;
    flex: 1 1 25vw;
    margin: 10px;
    width: 40vw;
    align-items: center;
    border-right: 2px solid red;
}

.foto-individuo {
    width: 100px;
}

.foto-individuo img {
    border-radius: 100px;
    /* margin: 10px; */
    /* max-height: 10%; */
    width: 100%;
}

.texto-individuo {
    padding: 10px;
}

/* CADASTRO CLIENTE */

html, body {
    min-height: 100%;
}

body, div, form, input, select, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}

h1 {
    margin: 0;
    font-weight: 400;
}

h3 {
    margin: 12px 0;
    color: red;
}

.main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

form {
    width: 100%;
    padding: 20px;
}

fieldset {
    border: none;
    border-top: 1px solid red;
}

.account-details, .personal-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.account-details>div, .personal-details>div>div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.account-details>div, .personal-details>div, input, label {
    width: 100%;
}

label {
    padding: 0 5px;
    text-align: right;
    vertical-align: middle;
}

input {
    padding: 5px;
    vertical-align: middle;
}

.checkbox {
    margin-bottom: 10px;
}

select, .children, .gender, .bdate-block {
    width: calc(100% + 26px);
    padding: 5px 0;
}

select {
    background: transparent;
}

.gender input {
    width: auto;
}

.gender label {
    padding: 0 5px 0 0;
}

.bdate-block {
    display: flex;
    justify-content: space-between;
}

.birthdate select.day {
    width: 35px;
}

.birthdate select.mounth {
    width: calc(100% - 94px);
}

.birthdate input {
    width: 38px;
    vertical-align: unset;
}

.checkbox input, .children input {
    width: auto;
    margin: -2px 10px 0 0;
}

.checkbox a {
    color: red;
}

.checkbox a:hover {
    color: greenyellow;
}

button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    background: red;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

button:hover {
    background: greenyellow;
}

.home_funcs {
    /* background-color: aqua; */
    display: flex;
    width: 100%;
    height: 50vh;
}

.home_funcs ul {
    width: 100%;
    height: 100%;
}

.home_funcs ul li {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    margin: 5%;
}
.home_funcs ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    /* color: white; */
    transition: all 0.5s;
}

.home_funcs ul li a:hover {
    background-color: red;
    color: white;
}

@media (min-width: 568px) {
    .account-details>div, .personal-details>div {
        width: 100%;
    }
    label {
        width: 40%;
    }
    input {
        width: 60%;
    }
    select, .children, .gender, .bdate-block {
        width: 60%;
    }
}

/* CADASTRO CLIENTE FIM */